body {
  font-size: 1.2rem;
  font-family: "Work Sans" . sans-serif;
}
.navbar {
  position: absolute;
  width: 100%;
  z-index: 1000;
  background-color: #0000;
}
.navbar .navbar-brand {
  color: #d0b8a8;
  font-weight: bold;
  letter-spacing: 2px;
}
.offcanvas-title {
  font-family: "Montserrat", sans;
  font-weight: semibold;
}
.offcanvas-body .navbar-nav .nav-item .nav-link {
  color: #d0b8a8;
}
.offcanvas-body .navbar-nav .nav-item .nav-link:hover {
  color: #472d2d;
}
.carousel {
  position: relative;
  z-index: 500; /* Sesuaikan dengan kebutuhan, pastikan lebih rendah dari z-index navbar */
  /* Tambahan CSS sesuai kebutuhan */
}

.navbar a {
  font-family: "Montserrat", sans;
  color: white;
}
.hero::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url(img/bg2.jpg); */
  z-index: -1;
  background-position: center;
}
.hero h2,
.about h2,
.menu h2 {
  font-family: "Montserrat", serif;
  letter-spacing: 2px;
  font-size: 2rem;
}
.hero p {
  font-family: "Abel", serif;
  letter-spacing: 2px;
  color: white;
}

.hero button {
  font-family: "Montserrat", sans;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
  position: absolute;
}

.about {
  padding: 3rem;
  background-color: #f8ede3;
}
.about h2,
.menu h2 {
  font-weight: bold;
  font-size: 3rem;
  color: #553939;
}
.about h3 {
  font-size: 1.5rem;
  color: #000;
  font-family: "Abel", serif;

  align-items: center;
}
.about h3 span {
  margin-left: 10px; /* Jarak antara garis dan teks (sesuaikan dengan kebutuhan Anda) */
}
.about p,
.menu p {
  font-family: "Montserrat", sans;
}
.about img {
  margin-top: 4rem;
}
.about img:hover {
  animation: imageScale 1s;
}
/* Menu */
.menu {
  padding: 3rem;
}
.menu p {
  color: #d0b8a8;
}
.menu h3 {
  font-family: "Barlow", sans;
  color: #472d2d;
}
.menu .card {
  background-color: #3c2a21;
}
.menu a {
  color: #f8ede3;
}
/* .menu .card {
  height: 600px;
} */
.menu .card-title {
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #d5cea3;
}
.menu .card-text {
  font-family: "Abel", serif;
  font-size: 1rem;
}
.menu .menu-direct {
  text-decoration: none;
  letter-spacing: 1.5px;
  color: #3c2a21;
  font-weight: 400;
}
/* Media Queries */
/* Handphone */
@media (max-width: 576px) {
  .about p {
    font-size: 90%;
  }
}
/* Tablet */
/* @media (max-width: 768px) {
  .about p {
    font-size: 80%;
  }
} */
/* Laptop */
@media (min-width: 992px) {
  .about p {
    font-size: 1.3rem;
  }
  .about h2 {
    font-size: 4rem;
  }
}
/* Animation */
@keyframes imageScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
